.hero-area {
    position: relative;
    overflow: hidden;
}

.hero-area .home3-banner {
    width: 100%;
    height: auto;
    position: relative;
}

.banner3-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFF; /* White color for text */
}
.blockcode {
    background-color:antiquewhite;
}
header {
    position: fixed;
    top: 0;
    z-index: 100; /* Optional: This ensures the header always appears on top of other page elements */
    background-color: white; /* Optional: Replace with the background color of your choice */
    width: 100%;
}
body {
    margin-top: 5%;
}
section{
    margin-top: 6%;
}
  
  #server-time-clock{
    float: left;
    margin-left: 20px;
  }